[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "lib/glew"]
	path = lib/glew
	url = https://github.com/Perlmint/glew-cmake.git
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb.git
[submodule "lib/openal"]
	path = lib/openal
	url = git://repo.or.cz/openal-soft.git
