[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "lib/glew"]
	path = lib/glew
	url = https://github.com/Perlmint/glew-cmake.git
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/timsjostrand/stb.git
[submodule "lib/openal"]
	path = lib/openal
	url = git://repo.or.cz/openal-soft.git
[submodule "lib/cjson"]
	path = lib/cjson
	url = https://github.com/kbranigan/cJSON.git
[submodule "lib/libarchive"]
	path = lib/libarchive
	url = https://github.com/libarchive/libarchive.git
[submodule "lib/zlib"]
	path = lib/zlib
	url = https://github.com/madler/zlib.git
