[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "lib/glew"]
	path = lib/glew
	url = https://github.com/Perlmint/glew-cmake.git
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/timsjostrand/stb.git
[submodule "lib/openal"]
	path = lodge-sound/lib/openal
	url = git://repo.or.cz/openal-soft.git
[submodule "lib/cjson"]
	path = lib/cjson
	url = https://github.com/DaveGamble/cJSON.git
[submodule "lib/libarchive"]
	path = lib/libarchive
	url = https://github.com/libarchive/libarchive.git
[submodule "lib/zlib"]
	path = lib/zlib
	url = https://github.com/timsjostrand/zlib.git
[submodule "lodge-lib/lib/murmur3"]
	path = lodge-lib/lib/murmur3
	url = https://github.com/timsjostrand/murmur3
[submodule "lodge-gui/lib/nuklear"]
	path = lodge-gui/lib/nuklear
	url = https://github.com/Immediate-Mode-UI/Nuklear.git
[submodule "lodge-lib/lib/perlin-noise"]
	path = lodge-lib/lib/perlin-noise
	url = https://github.com/stegu/perlin-noise.git
