#ifndef _EVENTS_GENERATED_H
#define _EVENTS_GENERATED_H

#include <string.h>

#include "events.h"
#include "math4.h"

@REQUIRED_INCLUDES@

void events_register_generated(struct events *events);

@HEADER_DECLARATIONS@

#endif
